.student-list {
    margin: 2em 2em 2em 0em;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .student-list  li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: 4em 1;
    height: 2.5em;
    border-radius: 4px;
  }
  .student-list  li:hover {
    color: #2c3a41;
    background-color: #e6e6e6;
    left: .1em;
  }
  .student-list  li.selected {
    background-color: black;
    color: white;
  }
  .student-list  li.selected:hover {
    background-color: #505050;
    color: white;
  }
  .student-list  li.selected:active {
    background-color: black;
    color: white;
  }
  .student-list  .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 2em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  
  input {
    width: 15em;
    padding: 0;
    background-color: rgb(189, 184, 184);
    color: rgb(0, 0, 0);
    margin: 1em 1em 0em 1em;
    
    
    
  }