<!DOCTYPE html>    
<html>        
<body>    
    <h1>Login Page</h1><br>    
    <div class="login">    
    <form>  
        <label><b>Email Account     
        </b>    
        </label>    
        <input type="username" class="form-control" name="username" [(ngModel)]="username"> 
        <br><br>    
        <label><b>Password     
        </b>    
        </label>    
        <input type="password" class="form-control"  name="password" [(ngModel)]="password"> 
        <br><br>    
        <button type="submit" class="btn btn-primary" (click)="LogInStudent()">Submit</button>   
    </form>     
</div>    
</body>    
</html>     