<html>
<body>
<div class="container" style="margin-top: 30px;">
    <div class="row text-center">
        <h2>Synesis Health Initiatives</h2>
    </div>



<div id="w">
    <div class="crsl-items" data-navigation="navbtns" style="width: 100%; overflow: hidden;">
        <div class="crsl-wrap" style="width: 970px; margin-left: -194px;">
                                                        <div class="crsl-item" style="position: relative; float: left; overflow: hidden; height: 558px; width: 185px; margin-right: 9px;">
                <div class="thumbnail">
                    <img src="uploaded_images/158849651522651.a.png" alt="nyc subway">
                </div>

                <h3><a href="telenor">Call Center Solution for Telenor Health</a></h3>

                <p>Telenor Health is a digital health subsidiary established by Telenor Group in 2015. Telenor Health is a purpose-driven company with the ambition to leverage tec</p>

                <p class="readmore"><a href="telenor">Read More »</a></p>
            </div><div class="crsl-item crsl-active" style="position: relative; float: left; overflow: hidden; height: 558px; width: 185px; margin-right: 9px;">
                <div class="thumbnail">
                    <img src="uploaded_images/158849659831288.b.png" alt="nyc subway">
                </div>

                <h3><a href="16263">Shastho Batayon স্বাস্থ্য বাতায়ন</a></h3>

                <p>Health care is one of the prime concerns of Bangladesh government. A major part of the population has been unaware or unwilling to get health dissemination serv</p>

                <p class="readmore"><a href="16263">Read More »</a></p>
            </div><!-- post #1 -->
                                    <div class="crsl-item" style="position: relative; float: left; overflow: hidden; height: 558px; width: 185px; margin-right: 9px;">
                <div class="thumbnail">
                    <img src="uploaded_images/15884970363907.g.png" alt="nyc subway">
                </div>

                <h3><a href="bsmmu">BSMMU CALL CENTER</a></h3>

                <p>Synesis IT is reputed for providing Large Scale Government to Government, Government to Citizen, Government to Business e-Governance Solutions, Call Center Serv</p>

                <p class="readmore"><a href="bsmmu">Read More »</a></p>
            </div><!-- post #1 -->
                                    <div class="crsl-item" style="position: relative; float: left; overflow: hidden; height: 558px; width: 185px; margin-right: 9px;">
                <div class="thumbnail">
                    <img src="uploaded_images/158849665425863.c.png" alt="nyc subway">
                </div>

                <h3><a href="mindtale">Mindtale</a></h3>

                <p>Bangladesh, a country of over 165 million of people and according to a joint research conducted by WHO &amp; Ministry of Health &amp; Family Welfare of Bangladesh about</p>

                <p class="readmore"><a href="mindtale">Read More »</a></p>
            </div><!-- post #1 -->
                                    <div class="crsl-item" style="position: relative; float: left; overflow: hidden; height: 558px; width: 185px; margin-right: 9px;">
                <div class="thumbnail">
                    <img src="uploaded_images/158849671211506.d.png" alt="nyc subway">
                </div>

                <h3><a href="cmh">Combined Military Hospital (Dhaka) or CMH</a></h3>

                <p>Combined Military Hospital (Dhaka) or CMH is a hospital located in Dhaka Cantonment. It is part of the Combined Military Hospital chain situated in all cantonme</p>

                <p class="readmore"><a href="cmh">Read More »</a></p>
            </div><!-- post #1 -->
                                    <!-- post #1 -->
                ;





        </div>
    </div>

    <nav class="slidernav">
        <div id="navbtns" class="clearfix">
            <a href="#" class="previous">prev</a>
            <a href="#" class="next">next</a>
        </div>
    </nav>

</div>
    </div>

</body>
</html>